<div class="row m-5">

    <div class="col-md text-center">
        <h1 class="">About Us</h1>
<h3>Aquarium Co-Op is a new way of doing aquatic business</h3>

<p class="mt-4">We’ve learned that our customers are
            environmentally friendly, price conscious and want
             high quality fish/products. Most would say that those 
             three things are mutually exclusive. However with the
              support of our customers, we strive to meet these needs.
           </p>
           </div>

</div>

<div class="row m-5">
    <div class="col-md">

        <p><strong>Some of the ways we meet these needs are the following:</strong></p>
       


        <ol class="numberList overflow-auto">
            <li>
                <p>We buy fish from local breeders when it’s possible.</p>
            </li>
            <li>
                <p>We only carry products that we believe are quality products. By focusing on great products, we buy in bulk and pass the savings to you.</p>
            </li>
            <li>
                <p>We love the environment. Our fish bags have been engineered to use less plastic and we encourage all of our customers to reuse packaging our products are carried in. Together, we can protect aquatic ecosystems.</p>
            </li>
            <li>
                <p>Our store uses an automatic water change system that allows us to change water on all the tanks at the same time. Each tank is filtered individually and water is never shared between aquariums.</p>
            </li>
            <li>
                <p>We sterilize our nets between each use to keep our fish healthier.</p>
            </li>
            <li>
                <p>We’ll be sure to get to know you and your aquarium personally with our small, tight knit team. This helps us to support you better with all of your aquatic decisions.</p>
            </li>
            <li>
                <p>We offer a discount of 10% to current Greater Seattle Aquarium Society Members and enjoy contributing to the philanthropy projects to put aquariums in schools.</p>
            </li>
            <li>
                <p>We want to help you track down that rare fish that will complete your tank. Our experts and team will guide you through setting up that new aquarium for your family and are committed to helping you enjoy nature daily.</p>
            </li>    
        </ol>
    

    </div>
</div>
   
    <div class="row m-5">

        <div class="col-md">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d76345.45135104997!2d34.83620261358019!3d32.25743251231011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x151d3eefe59f434d%3A0x973324cbcb43ffb9!2sfresh%20water%20fish%20shop%20%20map!3m2!1d32.2508011!2d34.8994056!5e0!3m2!1sen!2sil!4v1650395537735!5m2!1sen!2sil" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>

    </div>