<div class="row">

    <div class="col-md text-center">



        <h1>how can we help you?</h1>

        <p class="mt-5">

            Learn more about our shipping & delivery options, setting up a PetSmart account, returns & refunds, payment
            options and more. Can’t find what you’re looking for? Contact customer care at 1-888-839-9638 or send us an
            email.

            contact us

        </p>

    </div>

</div>
<div class="form-group">
    <label for="email">email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Your email"[(ngModel)]="contacts.Email">
</div>



<div class="form-group">
    <label for="subject">subject</label>
    <input type="text" class="form-control" id="subject" placeholder="Enter Your subject" [(ngModel)]="contacts.Subject">
</div>



<div class="form-group">
    <label for="PhoneNumber">Phone Number</label>
    <input type="text" class="form-control" id="PhoneNumber" placeholder="Enter Your Phone Number" [(ngModel)]="contacts.PhoneNumber"> 
</div>


<div class="form-group">
    <label for="officeNumber">office number</label>
    <input type="text" class="form-control" id="officeNumber" placeholder="Enter Your office Number" [(ngModel)]="contacts.OfficeNumber">
</div>


<div class="form-group">
    <label for="CompanyEmail">company Email</label>
    <input type="text" class="form-control" id="CompanyEmail" placeholder="Enter Your Company Email" [(ngModel)]="contacts.CompanyEmail">  
</div>

<button class="btn btn-primary float-end m-3" (click)="ContactUs()">Send</button>