
<div class="row m-5">

  <div class="col-md">

<div class="card">

<div class="card-header">My orders</div>
  <div class="card-body overflow-auto">

    
<table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col">Order Name</th>
      <th scope="col">Order Price</th>
      <th scope="col">Order Date Bought</th>
      <th scope="col">quantity</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of OrderList" class="text-center">
      <td>{{o.FishName}} {{o.productName}}</td>
      <td>{{o.product_Price}} {{o.fish_Price}}</td>
      <td>{{o.Bought_dt}}</td>
      <td>{{o.quantity}}</td>
    </tr>
  </tbody>
</table>
  </div>
  
</div>

  </div>
</div>