<div class="row m-5">

    <div class="col-md">

        <div class="card">

            <div class="card-header">Our Products</div>

            <div class="card-body overflow-auto">


                <div class="row">

                    <div class="col-md-3 mt-3" *ngFor="let p of products">
                        <div class="card">
                
                            <div class="card-header overflow-auto">
                
                                <p class="text-center  text-truncate" data-toggle="tooltip" data-placement="top" title={{p.productName}}>{{p.productName}}</p>
                            </div>
                
                            <img class="rounded mx-auto d-block p-2 " src={{p.productImg}}>
                
                            <button class="btn btn-primary rounded-bottom rounded-0" [routerLink]="['/orders']" [state]="{p}">order</button>
                
                
                
                
                        </div>
                
                
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

