<table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">Address</th>
        <th scope="col">Street</th>
        <th scope="col">Zip</th>


      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList.data">
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.PhoneNumber}}</td>
            <td>{{user.Address}}</td>
            <td>{{user.Street}}</td>
            <td>{{user.Zip}}</td>

          </tr>
    </tbody>
  </table>