

  <div class="row">


    <div class="col-md">
    
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/home">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/home" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/contact-us">contact us</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" routerLink="/about-us">About us</a>
              </li>

              <li class="nav-item" *ngIf="authenticated">
                <a class="nav-link" routerLink="/orders">orders</a>
              </li>

              <li class="nav-item" *ngIf="authenticated">
                <a class="nav-link" routerLink="/chat">chat</a>
              </li>

              <li class="nav-item " *ngIf="Role">
                <a class="nav-link" routerLink="/users">Users</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>

            <div *ngIf="authenticated">Welcome {{FullName}}</div>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='fas fa-user-alt' style='font-size:24px'></i> 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
<div *ngIf="!authenticated" >

  <li><a class="dropdown-item" routerLink="/login" >Login</a></li>
  <li><a class="dropdown-item" routerLink="/register">Register</a></li>


</div>
  
                <div  *ngIf="authenticated" >

                  
                  <li><a class="dropdown-item" routerLink="/profile" [state]="user" >Profile</a></li>
                  <li><a class="dropdown-item" (click)="Logout()">Logout</a></li>

                </div >
              </ul>
            </div>
         
            
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
    
    </div>
    
      </div>
    

<div class="row mt-5">

<div class="col-md">


  <router-outlet></router-outlet>



</div>

</div>
  


<div class="row navbar navbar-expand-lg navbar-light bg-light">

  <div class="col-md">

    <div class="row links">

      <div class="col-md">

        <ul class="list-group list-group-horizontal d-flex justify-content-center">
          <li class="list-group-item text-center"><a class="text-muted" rel='noopener noreferrer' href="https://www.instagram.com/freshwater.fish.id/?hl=en" target='_blank'> <i class="fa fa-instagram mr-2"></i></a></li>
          <li class="list-group-item text-center"><a class="text-muted" rel="noopener noreferrer" href="https://www.facebook.com/Fresh-water-fish-225377000857378/?d=%7B%22u%22%3A100000267374899%2C%22f%22%3A1305728356435516%2C%22t%22%3A1650310278%2C%22ed%22%3A[]%7D&s=AWWZr2oBBjMV9MQKdew" target='_blank'><i class="fa fa-facebook-square mr-2" aria-hidden="true"></i></a></li>
          <li class="list-group-item text-center"><a class="text-muted" rel='noopener noreferrer' href="https://www.youtube.com/channel/UCijpuBRpFdKmnZQI4du3z3w" target='_blank'><i class="fa fa-youtube-play mr-2"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
<div class="col-md">


  <p class="float-end"><a href="#">Back to top</a></p>
  <p class="text-center">© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>


</div>

    </div>
  

  </div>
</div>






