<div class="row container">
<div class="col-md">
    <button class="btn btn-primary float-end m-2"  routerLink="/home">Back</button>
</div>
</div>

<div class="card container">
<div class="row m-3">



        <div class="col-md">


            
            <img class="rounded mx-auto d-block" src={{item.itemImage}}> 
            
        
    </div>
    
    <div class="col-md" >
    
        <h3>{{item.itemName}}</h3>
        <a href="{{item.itemLink}}" target="_blank">About {{item.itemName}}</a>
    <br>
        <button class="btn btn-primary m-3" (click)="OrderFish()" >order</button>
    
    </div>

    </div>

</div>
