<div class="row">

 
<form [formGroup]="UserUpdate" (ngSubmit)="UpdateUser(UserUpdate.value)">
    <div class="col-md">

<div class="row">

<div class="col-md">

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" name="FirstName" formControlName="FirstName" id="FirstName" placeholder="Enter your First Name">
    </div>

</div>
<div class="col-md">

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="LastName" formControlName="LastName" placeholder="Enter your Last Name" >
    </div>

</div>

 
</div>
       
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" formControlName="PhoneNumber" placeholder="Enter your Phone Number">
        </div>

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text" class="form-control" id="Address" name="Address" formControlName="Address" placeholder="Enter Address" >
                </div>

            </div>


            <div class="col-md">

                <div class="form-group">
                    <label for="street">street</label>
                    <input type="text" class="form-control" id="street" name="street"  formControlName="street" placeholder="Enter street" >
                </div>

            </div>


            <div class="col-md">

                <div class="form-group">
                    <label for="zip">zip</label>
                    <input type="text" class="form-control" id="zip" name="zip" formControlName="zip" placeholder="Enter zip" >
                </div>


            </div>

        </div>

 
        
        <div class="form-group">
            <label for="Email">email</label>
            <input type="email" class="form-control" id="Email" formControlName="Email" name="Email" placeholder="Enter email">
        </div>

        <div class="row">

<div class="col-md">


    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Enter Password">
    </div>

</div>

<div class="col-md">

    <div class="form-group">
        <label for="password">Password Again</label>
        <input type="password" class="form-control" id="password2" name="password2" formControlName="password2" placeholder="Enter Password Again" >
    </div>

</div>



        </div>


        <div class="form-group">
            
                    <label for="formFile" class="form-label">upload profile picture </label>
                    <input class="form-control" formControlName="profileImage" type="file" id="formFile">
          
        </div>

<p class="text-danger">{{error}}</p>
        <input type="submit" [disabled]="!UserUpdate.valid"  value="updat User" class="btn btn-primary float-end m-3"/>


    </div>
</form>

</div>