.chatBody {
    height: 500px;
    overflow: scroll;
}





@media (max-width:518px) and (min-width:0px){

    


    
  }

img {

    border-radius: 100%;
    width: 100px;
    height: 100px;
   
}


